.aside {
  width: 40%;
  padding: 0 9%;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.icon {
  border-bottom: none;
  border-radius: 100%;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  margin: 8px;
  cursor: pointer;
}
.icon:hover {
  background-color: #9bffc9;
}

@media (max-width: 1279px) {
  .aside {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }
  .details {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .aside:nth-child(2) {
    order:1;
  }
}