.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.card {
    width:40%;
    height: auto;
  position: relative;
  overflow: hidden;
}

.card img {
    width: 100%;
  max-height: 355px;
  object-fit: cover;
}