.container {
  padding:1%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row:nth-child(2n) {
  flex-direction: row-reverse;
}

.smallCard {
  width: 35%;
  height: 320px;
  margin: 1%;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  border: 5px #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.bigCard {
  width: 58%;
  height: 320px;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  border: 5px #fff;
  border-radius: 10px;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.smallCard img,
.bigCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 1%;
}

/* On mouse-over, add a deeper shadow */
.smallCard:hover,
.bigCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.smallCard:hover .title,
.bigCard:hover .overlay {
  opacity:0.8;
  transition: all 0.3s ease-in-out;
}

.description {
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  color: #242943;
  word-wrap: break-word;
  margin: 3% 0%;
  transition:all 0.3s ease-in-out;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  transition:all 0.3s ease-in-out;  
  padding: 5%;
}

.btnOutline {
  background-color: transparent;
  border: 0px;
  border-radius: 30px;;
  box-shadow: inset 0 0 0 3px #242943;
  background-color: #9bffc9;
  color: #242943;
  padding: 10px 30px;
  text-transform: uppercase;
  margin: 5%;
}


@media (min-width: 1441px) {
  .smallCard,
  .bigCard {
    height: 450px;
  }
}

@media (max-width: 834px) {
  .container {
    padding: 2%;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }

  .smallCard,
  .bigCard {
    width: 100%;
    height: 380px;
    margin: 2% 0%;
  }
  .smallCard img,
  .bigCard img {
    width: 100%;
  }
  .description {
    width: 100%;
    margin-bottom: 4%;
  }
}

@media (max-width: 414px) {
  .smallCard,
  .bigCard {
    height: 200px;
  }
  .description {
    margin-bottom: 10%;
  }
}
