.container { 
  max-width: 1100px;
  width: calc(100% - 10%);
  margin: 3% auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  margin: 5%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navItem {
  margin: 30px;
}

.link {
  color: #ffff;
}
.link:hover,
.link:active {
  color: #9bffc9;
}

.btn {
  background-color: #ffff;
  font-weight: 550;
  color: #242943;
  padding: 10px 30px;
  text-transform: uppercase;
}
.btn:hover,
.btn:active {
  background-color: #9bffc9;
}

.btnOutline {
  background-color: transparent;
  border: 0px;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffff;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btnOutline:hover,
.btnOutline:active {
  box-shadow: inset 0 0 0 2px #9bffc9;
  color: #9bffc9;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:3%;
}

.icon {
  border-bottom: none;
  border-radius: 100%;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  margin: 8px;
  cursor: pointer;
}

.icon:hover,
.icon:active {
  background-color: #9bffc9;
}

@media (min-width: 415px) {
  .navItem {
    margin: 20px;
  }
  .btn,
  .btnOutline {
    display: none;
  }
}

@media (max-width: 414px) {
  .container {
    margin: 25% auto;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .navItem {
    margin: 20px;
  }
  .navItem:nth-child(1) {
    margin: 0px;
  }
  .btn {
    padding: 15px 90px;
  }
  .btnOutline {
    padding: 15px 90px;
  }
  .label {
    margin:20%;
  }
}
