.container {
  max-width: 1100px;
  width: calc(100% - 10%);
  margin: 7% auto;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact {
  background-color: #242943;
}

.title {
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -3px;
  margin-top: 20%;
  margin-bottom: 0;
  padding-bottom: 15%;
   background:
  linear-gradient(
    to right, 
     #fabd12, #9bffc9
  )
  left   
  no-repeat; 
background-size:100% 3px ;
}


.intro {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1279px) {
  .container {    
    padding-top: 3%;
  }
  .contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 834px) {
  .container {
    margin: 10% auto;
  }
  .title {
    font-size: 60px;
    letter-spacing: -1px;
  }
  .intro {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 15% auto;
  }
  .title {
    font-size: 30px;
  }
  .intro {
    font-size: 12px;
  }
}
