/*  CSS  section banner */

.banner h1 {
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -3px;
  margin-top: 6%;
}
.first {
  background: linear-gradient(90deg, #9bffc9, #fabd12);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second {
  background: linear-gradient(90deg, #9bffc9, #fabd12);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  min-height: 50vh;
  max-width: 1100px;
  width: calc(100% - 10%);
  margin: 10% auto;
  padding-top: 3%;
}

.title {
  border-bottom-style: solid;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  font-weight: 600;
}

.content p {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.btnSlide {
  padding: 14px 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0 30px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.arrow {
  margin-left: 10px;
}

.btnSlide span {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  border-radius: 30px;
}

.btnSlide::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border: 0px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 3px #ffffff;
  color: #ffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.btnSlide:hover::after {
  background-color: #ffffff;
  transform: translateX(100%);
}

.btnSlide:hover {
  background-color: #ffffff;
  transition: background-color 0.5s ease-in-out;
}

.btnSlide:hover span {
  background-color: #ffffff81;
  transition: background-color 1s ease-in-out;
  color: #242943;
}

@media (max-width: 1024px) {
  .banner h1 {
    margin-top: 15%;
    font-size: 60px;
  }
}
@media (max-width: 834px) {
  .banner {
    min-height: 35vh;
  }
  .content {
    font-size: 14px;
    justify-content: space-between;
  }
  .btnSlide {
    margin: 0px 0px 0px 15px;
  }
}

@media (max-width: 415px) {
  .banner {
    min-height: 60vh;
  }
  .banner h1 {
    margin-top: 30%;
    font-size: 30px;
    letter-spacing: -1px;
  }
  .content {
    flex-direction: column;
    margin: 30px 0;
  }
  .btnSlide {
    margin: 30px 100px 10px 0px;
  }
}

@media (max-width: 375px) {
  .btnSlide {
    margin: 30px 50px 10px 0px;
  }
}

@media (max-width: 320px) {
  .banner {
    min-height: 70vh;
  }
  .btnSlide {
    margin: 30px 20px 10px 0px;
  }
}
/*  CSS  Fin section banner */

/*  CSS  section Services */

.imgFluid {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgFluid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 330ms ease-in-out;
}

.description {
  text-align: center;
  padding-bottom: 10%;
  width: 100%;
}

.header {
  word-wrap: break-word;
  padding-right: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

.description p {
  margin: 30px 0;
}

.btnOutline {
  background-color: transparent;
  border: 0px;
  box-shadow: inset 0 0 0 3px #ffffff;
  color: #ffff;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 30px;
}

.btnOutline:hover,
.btnOutline:active {
  box-shadow: inset 0 0 0 3px #9bffc9;
  color: #9bffc9;
}

@media (min-width: 1441px) {
  .imgFluid img {
    width: 85%;
    height: auto;
  }
}
@media (max-width: 834px) {
  .imgFluid {
    padding-top: 5%;
  }
  .description {
    padding: 0 10% 15%;
  }
}

@media (max-width: 414px) {
  .imgFluid {
    padding-top: 20%;
  }
  .imgFluid img {
    width: 120%;
  }
  .imgFluid img:hover {
    transform: scale(1.2);
  }
  .description {
    padding: 0 10% 20%;
    font-size: 14px;
  }
}

/*  CSS  Fin section Services */
